<h2>About Us</h2>
<p>This wiki was created by <strong>Alexander Soyoye</strong> and <strong>Amit Enand</strong></p>
<p>This site is for all things Aberdeen has to offer!</p>
<p>If you would like to edit or add something to the site either login or register an account.</p>