<h2>Log File</h2>
<div class="second col-md-4 ml-md-auto">
    <div class="panel panel-primary">
         <div class="panel-heading">Log File</div>
        <div class="panel-body">
    <textarea readonly rows= "20" cols = "46"><%= @l %></textarea></div>
</div>
</div>