<h2>Thanks for creating an account!</h2>
<p>If the wiki Admin has allowed, you may edit the site</p>
<p>Go login to your new account and enjoy!</p>
<p>If you have any problems contact the wiki Admin</p>
